#buttons {
    flex-direction: row;
}

.InputWithLabel > Label {
    width: 60px;
    min-width: unset;
}

.button {
    flex-shrink: 1;
    flex-grow: 1;
}

.deleteButton {
    background-color: rgb(237, 64, 64);
}

.content {
    flex-grow: 1;
    margin: 4px;
}
